.wrapper {
  display: flex;
  margin-bottom: 12px;
}

.info_wrapper {
  margin-left: 20px;
}

.title {
  margin-bottom: 8px;
}

.text {
  margin-bottom: 10px;
}

.wrapper_additional {
  padding: 8px 0;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  margin-bottom: 16px;
}

.item {
  margin: 4px 0;
  color: black;
}

.item_link {
  color: black;
  font-weight: 500;
}

.item_link:hover {
  color: orangered;
}
